<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <table width="600px" cellspacing="0" cellpadding="0" 
                   style="background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px #ddd;">
                <tr>
                    <td align="center">
                        <h2 style="color: #333;">🔑 Reset Your Password</h2>
                        <p style="color: #666;">Hi {{ user.username }},</p>
                        <p style="color: #666;">Click the button below to reset your password:</p>
                        <a href="{{ reset_url }}" 
                           style="display: inline-block; 
                                  padding: 12px 24px; 
                                  background-color: #007bff; 
                                  color: white; 
                                  text-decoration: none; 
                                  border-radius: 5px;
                                  font-weight: bold;">
                            Reset Password
                        </a>
                        <p style="color: #aaa; font-size: 12px; margin-top: 20px;">If you didn't request this, please ignore this email.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


