{%load static%}
<!DOCTYPE html>
<!-- Source Codes By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>Reset Password</title>
  <link rel="stylesheet" href="{% static 'css/header-footer-1.css' %}" />
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <link rel="icon" type="image/x-icon" href="{% static 'images/tab-icon.png' %}">

</head>
<body>
    <header class="d-flex justify-content-between align-items-center">
        <img src="{% static 'images/NASOM.png' %}" alt="" style="width: 300px; height: auto;" id="logo">
        <nav>
          <a href="">Home</a>
        </nav>
    </header>
  <div class="login_form">
    <!-- Login form container -->
    <form action="{% url 'get_login_applicant' %}" method="post">
      {% csrf_token %}
      <h3>Reset Password</h3>
      
      <!-- Login option separator -->
      <p class="separator"></p>

      <div class="alert alert-success">Reset link has been successfully sent. Please check your email.</div>
        
      <a id="return-button" href="{% url 'password_reset_form' %}">Back</a>

    </form>
  </div>
  {% include "footer.html" %}
</body>
</html>